.allStudentcardLoad{
  width: 500px;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 30px;
}

.allStudentCont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.allStuCont {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;

  >:first-child {
    width: 96vw;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    font-size: 20px;
    margin-top: 10px;
  }
}
