.searchCont {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;

  > input {
    width: 95%;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: blue;
    font-weight: 700;
    outline: none;
  }
  > input::placeholder {
    font-weight: 700;
    color: blue;
  }

  > div {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .searchCont {
    > input {
      width: 80%;
    }

    > div {
      width: 20%;
    }
  }
}
