::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: linear-gradient(transparent, #19d8fe);
}

body{
  background: linear-gradient(
    90deg,
    rgb(0, 255, 200) 21%,
    rgba(96, 239, 255, 1) 100%
  );
}